{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock head %}

{% block content %}
<div class="forms-wrapper">
    <form action="{% url 'main:create' %}" class="form-flex" id="createForm" method="post"
        data-models-url="{% url 'main:load-models' %}" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="input-select-wrapper">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}

        <div class="grid-images-wrapper">
            {% include 'main/images_input.html' %}
        </div>

        <button type="button" class="submit-button">Submit</button>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
    integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        $('select').niceSelect();
    })
</script>
{% endblock scripts %}