{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock head %}

{% block content %}
<form action="{% url 'main:create' %}" class="form-page" id="createForm" method="post"
    data-models-url="{% url 'main:load-models' %}" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="input-select-wrapper">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        {{ field.errors }}
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
    integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        $('select').niceSelect();
    })
</script>
{% endblock scripts %}