{% load static %}
{% for _ in blank_forms_num %}
<div class="single-image-wrapper" style="display: none;">
    <a href="#" onclick="removeImage($(this).parent()); return false;" class="delete-button">
        <img src="{% static 'main/svgs/cross.svg' %}" class="cross-svg" alt="Cross Icon">
    </a>
    <img class="inputed-image" image-name="" src="" alt="Image">
</div>
<label class="single-image-wrapper" for="id_images">
    <img src="{% static 'main/svgs/camera.svg' %}" class="camera-svg" alt="Camera Icon">
</label>
{% endfor %}